{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row text-center">
	    <div class="col-md-6 offset-md-3" style="padding-top: 200px;">
	        <div class="card">
	            <div class="card-body">
	                <div class="login-title">
	                    <h5>Log In</h5>
	                </div>
	                <div class="login-form mt-4">
	                    <form method="post" action="{% url 'accounts:login' %}">
                            {% csrf_token %}
                            {% if error %}
                             <h6 style="text-align: center; color:red">{{error}}</h6>
                            {%endif%}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                              <input name="username" class="form-control" type="text" placeholder="Username">
                            </div>
                            <div class="form-group col-md-12">
                              <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                          </div>

                         <div class="form-row">
                        <div class="form-group">
                                <div class="form-check">
                                    <br>
                                    <small>아이디가 없으신가요?<a href="{% url 'accounts:signup' %}">회원가입</a></small>
                                </div>
                        </div>

                    </div>

                        <div class="form-row">
                            {{ form.as_p }}
                            <button type="submit" value="sign up" class="btn btn-dark btn-block">Submit</button>
                        </div>
                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}