<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/blog/">
  <link rel="stylesheet" type="text/css" href="C:\Users\ahg54\PycharmProjects\saveme\config\static\css\style.css">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>DAPPAJYEO</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>
<body style="background-color: #ffc3c3">
    <div class="container">
      <header class="blog-header py-3" style="border-bottom: 1px solid #fff">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            {% if user.is_authenticated %}
            {{user.last_name}}{{user.first_name}}님 환영합니다.
            <a class="btn btn-sm btn-outline-light" href="{% url 'accounts:logout' %}">로그아웃</a>
            {% else %}
            <a class="btn btn-sm btn-outline-light" href="{% url 'accounts:login' %}">로그인</a>
            {% endif %}
          </div>
          <div class="col-4 text-center">
             <a class="blog-header-logo text-white" href="http://127.0.0.1:8000"><h2>DAPPAJYEO</h2></a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-light" href="http://127.0.0.1:8000/accounts/signup">Sign up</a>
          </div>
        </div>
      </header>
      <div class="nav nav-tabs" role="tablist" style="border-bottom: 1px solid #fff">
         <nav class="nav justify-content-center" style="color: #495057; background-color: #ffc3c3; border-color: #fff #fff #fff;width: 400px; padding-top: 10px;padding-bottom: 10px;">
           <li><a class="p-2 text-white" href="http://127.0.0.1:8000">HOME</a></li>
           <li><a class="p-2 text-white" href="http://127.0.0.1:8000/training">홈트레이닝</a></li>
           <li><a class="p-2 text-white" href="http://127.0.0.1:8000/calculrator">비만도측정기</a></li>
           <li><a class="p-2 text-white" href="http://127.0.0.1:8000/notice">게시판</a></li>
         </nav>
      </div>
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>