{% extends 'base.html' %}
{% load static %}
{% block content %}
<header style="height:450px; width:1110px;">
  <img src="static/img/main.jpg" />
</header>
<br><br><br><br><br><br>
<div class="container marketing">
    <div class="row" style="text-align:center">
      <div class="col-lg-4">
        <img src="static/img/youtube.jpg" />
        <h2>홈트레이닝</h2>
        <br>
        <p>매일매일 홈트레이닝 영상으로 운동하자</p>
        <p><a class="btn btn-danger" href="http://127.0.0.1:8000/training" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="static/img/scale.jpg"/>
        <br>
        <h2>비만도계산기</h2>
        <br>
        <p>나의 BMI지수를 측정하여 좀 더 정확하고 체계적인 다이어트</p>
        <p><a class="btn btn-danger" href="http://127.0.0.1:8000/calculrator" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="static/img/chat.jpg"/>
        <br>
        <h2>게시판</h2>
        <br>
        <p>다이어터들과의 소통</p>
        <p><a class="btn btn-danger" href="http://127.0.0.1:8000/lists_board" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>

{% endblock %}