{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/training.css' %}">
<style>
h4 {
    color: white;
    font-size: 24px;
    margin: 10px 0 15px;
    padding: 0;
    border-bottom: 1px solid white;
}
strong{
color: white;
 font-size: 17px;
 text-align: left;
 display: block;
 font-weight:normal;
}
.part{
 font-size: 18.5px;
color: white;
}
</style>
<br><br><br>
<div style="color: white;"class="contents training">
<h2>홈트레이닝 BEST 영상</h2>
    <br>
<h4>전체 BEST 영상</h4>
   <div class="gall-wrap2">
     <ul class="gall-list02 clfix">
       <li>
         <a href="https://www.youtube.com/watch?v=6IL79kLz6XQ">
         <div class="pic">
          <img src="https://img.youtube.com/vi/6IL79kLz6XQ/0.jpg" style="width:300px;height:137px;" alt="단기간에 체중감량을 위한 전신운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               단기간에 체중 감량을 위한 운동!
             </strong>
             <br>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=BjkU05LoY7A">
         <div class="pic">
           <img src="https://img.youtube.com/vi/BjkU05LoY7A/0.jpg" style="width:300px;height:137px;" alt="15분 허벅지 집중 운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             15분 허벅지 집중 운동
           </strong>
             <br>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=mr5bu2cxdzU">
             <div class="pic">
               <img src="https://img.youtube.com/vi/mr5bu2cxdzU/0.jpg" style="width:300px;height:137px;" alt="트와이스 (TWICE) - DANCE THE NIGHT AWAY 안무연습">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 트와이스(Twice)Dance fracice
               </strong>
                 <br>
             </div>
             </a>
             </li>
     </ul>
   </div>
     <h4>BEST 전신 영상</h4>
   <div class="gall-wrap2">
     <ul class="gall-list02 clfix">
       <li>
         <a href="https://www.youtube.com/watch?v=QUn2iTnPOyw">
         <div class="pic">
          <img src="https://img.youtube.com/vi/QUn2iTnPOyw/0.jpg" style="width:300px;height:137px;" alt="10분 만에 칼로리 태워요! 땀나는 전신운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               10분만에 칼로리를 태워요..
             </strong>
             <br>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=bleOTMDa3_4">
         <div class="pic">
           <img src="https://img.youtube.com/vi/bleOTMDa3_4/0.jpg" style="width:300px;height:137px;" alt="NO JUMPING! 초보자를 위한 전신 지방 연소 운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             NO JUMPING! 초보..
           </strong>
             <br>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=HTahruuzprw">
             <div class="pic">
               <img src="https://img.youtube.com/vi/HTahruuzprw/0.jpg" style="width:300px;height:137px;" alt="50분 운동후 650칼로리 소비하기">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 50분 운동 후 650칼로리..
               </strong>
                 <br>
             </div>
             </a>
             </li>
     </ul>
   </div>
     <h4>BEST 복부 영상</h4>
   <div class="gall-wrap2">
     <ul class="gall-list02 clfix">
       <li>
         <a href="https://www.youtube.com/watch?v=T3sRRTiIarA">
         <div class="pic">
          <img src="https://img.youtube.com/vi/T3sRRTiIarA/0.jpg" style="width:300px;height:137px;" alt="8분만에 뱃살 집중공략!! 크런치 운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               8분만에 뱃살 집중공략!!..
             </strong>
             <br>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=xbo--2_6qno">
         <div class="pic">
           <img src="https://img.youtube.com/vi/xbo--2_6qno/0.jpg" style="width:300px;height:137px;" alt="레베카 언니와 함께 복근 만들기">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             레베카언니와 함께 복근..
           </strong>
             <br>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=JkqjHxr6Nvw">
             <div class="pic">
               <img src="https://img.youtube.com/vi/JkqjHxr6Nvw/0.jpg" style="width:300px;height:137px;" alt="강도 높은 복부 운동">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 강도 높은 복부 운동
               </strong>
                 <br>
             </div>
             </a>
             </li>
     </ul>
   </div>
     <h4>BEST 상체 영상</h4>
   <div class="gall-wrap2">
     <ul class="gall-list02 clfix">
       <li>
         <a href="https://www.youtube.com/watch?v=moo4_xVnzrI">
         <div class="pic">
          <img src="https://img.youtube.com/vi/moo4_xVnzrI/0.jpg" style="width:300px;height:137px;" alt="여름시즌 몸매만들기 2탄! - 상체편">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               여름 시즌 몸매 만들기!..
             </strong>
             <br>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=Y2did1lMbd4">
         <div class="pic">
           <img src="https://img.youtube.com/vi/Y2did1lMbd4/0.jpg" style="width:300px;height:137px;" alt="캐시언니의 상체&amp;복부 운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             캐시언니의 상체&복부 운동..
           </strong>
             <br>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=r98iJWWkGSc">
             <div class="pic">
               <img src="https://img.youtube.com/vi/r98iJWWkGSc/0.jpg" style="width:300px;height:137px;" alt="상체 지방을 태울수 있는 탁월한 운동">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 상체 지방을 태울 수 있는...
               </strong>
                 <br>
             </div>
             </a>
             </li>
     </ul>
   </div>
     <h4>BEST 하체 영상</h4>
   <div class="gall-wrap2">
     <ul class="gall-list02 clfix">
       <li>
         <a href="https://www.youtube.com/watch?v=zLBFQ_mFl2E">
         <div class="pic">
          <img src="https://img.youtube.com/vi/zLBFQ_mFl2E/0.jpg" style="width:300px;height:137px;" alt="NO JUMPING! 슬림한 다리 만들기 운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               NO JUMPING! 슬림..
             </strong>
             <br>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=xBIFUYjpnVw">
         <div class="pic">
           <img src="https://img.youtube.com/vi/xBIFUYjpnVw/0.jpg" style="width:300px;height:137px;" alt="아침 기상후 다리를 슬림하게 만드는 4분 운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             아침 기상후 다리를 슬림하게..
           </strong>
             <br>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=koSJQbtukHY">
             <div class="pic">
               <img src="https://img.youtube.com/vi/koSJQbtukHY/0.jpg" style="width:300px;height:137px;" alt="여름시즌 몸매만들기 4탄! - 하체편">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 여름 시즌 몸매 만들기!..
               </strong>
                 <br>
             </div>
             </a>
             </li>
     </ul>
   </div>
   <h4>BEST 댄스 영상</h4>
   <div class="gall-wrap2">
     <ul class="gall-list02 clfix">
       <li>
         <a href="https://www.youtube.com/watch?v=UXr786ydpj8">
         <div class="pic">
          <img src="https://img.youtube.com/vi/UXr786ydpj8/0.jpg" style="width:300px;height:137px;" alt="셀럽파이브 - 셀럽파이브 (셀럽이 되고 싶어) 안무 영상">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               셀럽파이브-셀럽파이브..
             </strong>
             <br>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=hLv5MBuSYDY">
         <div class="pic">
           <img src="https://img.youtube.com/vi/hLv5MBuSYDY/0.jpg" style="width:300px;height:137px;" alt="MOMOLAND(모모랜드) 뿜뿜(BBoom BBoom) 안무 영상">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             MOMOLAND(모모랜드)..
           </strong>
             <br>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=PDJf9aW4GDg">
             <div class="pic">
               <img src="https://img.youtube.com/vi/PDJf9aW4GDg/0.jpg" style="width:300px;height:137px;" alt="캐시언니 복고 댄스 운동">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 캐시언니 복고 댄스 운동
               </strong>
                 <br>
             </div>
             </a>
             </li>
     </ul>
   </div>
    </div>
</div>
{% endblock %}