{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
   <title>전신</title>
  </head>

 <body>
   <h1>홈트레이닝>전신</h1>
   <div class="gall-wrap2">
     <ul class="gaoo-list02 clfix">
       <li>
         <a href="https://www.youtube.com/watch?v=QUn2iTnPOyw">
         <div class="pic">
          <img src="https://img.youtube.com/vi/QUn2iTnPOyw/0.jpg" style="width:233px;height:137px;" alt="10분 만에 칼로리 태워요! 땀나는 전신운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               10분만에 칼로리 태워요..
             </strong>
             <div class="clfix">
               <span class="part">전신</span>
             </div>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=HTahruuzprw">
         <div class="pic">
           <img src="https://img.youtube.com/vi/HTahruuzprw/0.jpg" style="width:233px;height:137px;" alt="50분 운동후 650칼로리 소비하기">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
           50분 운동후 650칼로리 소모하기
           </strong>
           <div class="clfix">
             <span class="part">전신</span>
           </div>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=sbzcsPGPdIs">
             <div class="pic">
               <img src="https://img.youtube.com/vi/sbzcsPGPdIs/0.jpg" style="width:233px;height:137px;" alt="10분 안에 지방 불태우기">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 10분만에 지방 태우기...
               </strong>
            <div class="clfix">
              <span class="part">전신</span>
               </div>
             </div>
             </a>
             </li>
               <li>
         <a href="https://www.youtube.com/watch?v=xC9Xzbfq-Hs">
         <div class="pic">
          <img src="https://img.youtube.com/vi/xC9Xzbfq-Hs/0.jpg" style="width:233px;height:137px;" alt="운동기구를 통해 전신 바디 운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               운동기구를 통해 전신 바디 운동
             </strong>
             <div class="clfix">
               <span class="part">전신</span>
             </div>
             </div>
                 </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=NaG1XJnmyas">
         <div class="pic">
           <img src="https://img.youtube.com/vi/NaG1XJnmyas/0.jpg" style="width:233px;height:137px;" alt="레베카 언니의 인터벌 트레이닝 운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             레베카 언니의 인터벌 트레이닝 운동
           </strong>
           <div class="clfix">
             <span class="part">전신</span>
           </div>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=lcNPw61ageQ">
             <div class="pic">
               <img src="https://img.youtube.com/vi/lcNPw61ageQ/0.jpg" style="width:233px;height:137px;" alt="치어리더 몸매 만들기">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 치어리더 몸매 만들기
               </strong>
            <div class="clfix">
              <span class="part">전신</span>
               </div>
             </div>
             </a>
             </li>
       <li>
         <a href="https://www.youtube.com/watch?v=97s561Neda4">
         <div class="pic">
          <img src="https://img.youtube.com/vi/97s561Neda4/0.jpg" style="width:233px;height:137px;" alt="세계적인 모델 캔디스 스와네포엘 운동법">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               세계적인 모델 캔디스 스와네포엘 운동법
             </strong>
             <div class="clfix">
               <span class="part">전신</span>
             </div>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=6IL79kLz6XQ">
         <div class="pic">
           <img src="https://img.youtube.com/vi/6IL79kLz6XQ/0.jpg" style="width:233px;height:137px;" alt="단기간에 체중감량을 위한 전신운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             단기간에 체중감량을 위한 전신운동
           </strong>
           <div class="clfix">
             <span class="part">전신</span>
           </div>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=ueQuF4O5vXk">
             <div class="pic">
               <img src="https://img.youtube.com/vi/ueQuF4O5vXk/0.jpg" style="width:233px;height:137px;" alt="레베카 언니와 댄스 동작을 활용한 10분 댄스 운동">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 레베카 언니와 댄스동작을 ..
               </strong>
            <div class="clfix">
              <span class="part">전신</span>
               </div>
             </div>
             </a>
       </li>
       <li>
         <a href="https://www.youtube.com/watch?v=chfZM4pW27k">
         <div class="pic">
          <img src="https://img.youtube.com/vi/chfZM4pW27k/0.jpg" style="width:233px;height:137px;" alt="여름시즌 몸매만들기 1탄! - 전신편">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               여름 시즌 몸매 만들기 1탄!..
             </strong>
             <div class="clfix">
               <span class="part">전신</span>
             </div>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=WFTgDwuEB2I">
         <div class="pic">
           <img src="https://img.youtube.com/vi/WFTgDwuEB2I/0.jpg" style="width:233px;height:137px;" alt="여름대비 비키니 몸매 만들기">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             여름대비 비키니 몸매 만들기
           </strong>
           <div class="clfix">
             <span class="part">전신</span>
           </div>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=toruWauxEcg">
             <div class="pic">
               <img src="https://img.youtube.com/vi/toruWauxEcg/0.jpg" style="width:233px;height:137px;" alt="배꼽지방을 없애주는 풀 바디 운동">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 배꼽지방을 없애주는 풀바디 운동...
               </strong>
            <div class="clfix">
              <span class="part">전신</span>
               </div>
             </div>
             </a>
             </li>
       <li>
         <a href="https://www.youtube.com/watch?v=j-sOWLKGmKs">
         <div class="pic">
          <img src="https://img.youtube.com/vi/j-sOWLKGmKs/0.jpg" style="width:233px;height:137px;" alt="침대에서 할수 있는 5분 지방 분해 운동">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
             <strong>
               침대에서 할 수 있는 5분 지방 분해 운동..
             </strong>
             <div class="clfix">
               <span class="part">전신</span>
             </div>
             </div>
         </a>
           </li>
         <li>
           <a href="https://www.youtube.com/watch?v=4RR5qnJ404g">
         <div class="pic">
           <img src="https://img.youtube.com/vi/4RR5qnJ404g/0.jpg" style="width:233px;height:137px;" alt="빅토리아 시크릿 모델 라인 만들기">
           <span class="frame"></span>
           <span class="ico-play"></span>
         </div>
         <div class="txt">
           <strong>
             빅토리아 시크릿 모델라인..
           </strong>
           <div class="clfix">
             <span class="part">전신</span>
           </div>
           </div>
           </a>
           </li>
           <li>
             <a href="https://www.youtube.com/watch?v=TvSdgw_13oI">
             <div class="pic">
               <img src="https://img.youtube.com/vi/TvSdgw_13oI/0.jpg" style="width:233px;height:137px;" alt="다양한 동작으로 지방 불태우기">
               <span class="frame"></span>
               <span class="ico-play"></span>
             </div>
             <div class="txt">
               <strong>
                 다양한 동작으로 지방 불태우기
               </strong>
            <div class="clfix">
              <span class="part">전신</span>
               </div>
             </div>
             </a>
             </li>

     </ul>
   </div>
 {% endblock %}